BOT_TOKEN=
ADMIN_ID=

WEBHOOK_URL=https://your-project.vercel.app
WEBHOOK_PATH=telegram-webhook
WEBHOOK_SECRET=
SETUP_SECRET=

REDIS_URL=rediss://default:YOUR_PASSWORD@YOUR_HOST.upstash.io:6379

DATABASE_URL=postgresql://postgres.YOUR_PROJECT:YOUR_PASSWORD@YOUR_HOST.pooler.supabase.com:5432/postgres

TRONGRID_API_KEY=
TRC20_ESCROW_ADDRESS=

LTC_ESCROW_ADDRESS=
BLOCKCYPHER_TOKEN=
MIN_LTC_CONFIRMATIONS=3
MIN_TRC20_CONFIRMATIONS=1